<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Delete?</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0">
            <span>Are you sure you want to delete your account?</span>
            <div class="d-grid gap-2 d-md-block mt-3">
                <button type="button" class="btn btn-outline-danger" id="deleteUserBtn">Yes, I confirm</button>
                <button type="button" class="btn btn-success mx-2" data-bs-dismiss="modal">No, take me back</button>
            </div>
        </div>        
      </div>
    </div>
  </div>