{% extends 'polls/base.html' %}
{% block title %}Polls - Help{% endblock %}
{% block content %}
<h3>Need Help?</h3>
<hr/>
<h4>Submit your queries</h4>
<form action="" method="post">
    {% csrf_token %}
    <label for="email">Your email:</label>
    <input type="email" id="email" name="email" placeholder="Your email" required><br/>
    <br/>
    <label for="query">Your query:</label>
    <textarea id="query" name="query" rows="10" cols="50"></textarea>
    <br/>
    <input type="submit" value="Submit" style="padding: 10px 20px; margin-top: 10px; width: 10%;">
</form>
{% endblock %}

