{% extends 'polls/base.html' %}
{% load static %}
{% load form_tags %}
{% block title %}Polls - Register{% endblock %}
{% block content %}
<div class="container mt-5">
    <h3 class="text-center p-3">Register</h3>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        
        <div class="form-row row justify-content-md-center p-2">
            <div class="col-sm-2">
                {% if form.first_name.errors %}
                {{ form.first_name|add_class:"is-invalid" }}
                <div class="invalid-feedback d-block">
                    {% for error in form.first_name.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.first_name }}
                {% endif %}
            </div>
            <div class="col-sm-2">
                {% if form.last_name.errors %}
                {{ form.last_name|add_class:"is-invalid" }}
                <div class="invalid-feedback d-block">
                    {% for error in form.last_name.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.last_name }}
                {% endif %}
            </div>
        </div>
        <div class="form-row row justify-content-md-center p-2">
            <div class="col-sm-4">
                {% if form.email.errors %}
                    {{ form.email|add_class:"is-invalid" }}
                    <div class="invalid-feedback d-block">
                        {% for error in form.email.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email }}
                {% endif %}
            </div>
        </div>  

        <div class="form-row row justify-content-md-center p-2">
            <div class="col-sm-4">
                {% if form.username.errors %}
                    {{ form.username|add_class:"is-invalid" }}
                    <div class="invalid-feedback d-block">
                        {% for error in form.username.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username }}
                {% endif %}
            </div>
        </div>

        <div class="form-row row justify-content-md-center p-2">
            <div class="col-sm-2">
                {% if form.password.errors %}
                    {{ form.password|add_class:"is-invalid" }}
                    <div class="invalid-feedback d-block">
                        {% for error in form.password.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password }}
                {% endif %}
            </div>
            <div class="col-sm-2">
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password|add_class:"is-invalid" }}
                    <div class="invalid-feedback d-block">
                        {% for error in form.confirm_password.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password }}
                {% endif %}
            </div>
        </div>

        <div class="form-row row justify-content-md-center p-2">
            <div class="col-sm-4 d-flex align-items-center">
                <label for="{{ form.avatar.id_for_label }}" class="col-sm-8 col-form-label border rounded text-center text-muted py-1">Upload Profile Picture</label>
                <img id="preview" src="{% static 'polls/default-avatar.png' %}" alt="" class="img-fluid img-thumbnail mx-3" height="30" width="30"/>
                {{ form.avatar|add_class:"invisible" }}
                </div>
                {% if form.avatar.errors %}
               <div class="invalid-feedback d-block text-center text-break">
                    {% for error in form.avatar.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
                {% else %}
            {% endif %}
            
        </div>

        {% if form.non_field_errors %}
        <div class="form-row row justify-content-md-center">
            <div class="invalid-feedback d-block text-center">
                {% for error in form.non_field_errors %}
                    <small>{{ error }}</small>
                {% endfor %}
            </div>
            </div>
        {% endif %}

        <div class="form-row row justify-content-md-center p-3">
            <div class="col-sm-4">
                <input type="submit" value="Register" class="btn btn-success w-100">
            </div>
        </div>
        
    </form>
</div>
{% endblock %}