<!-- markdownx/widget.html -->
<div class="markdownx row">
    <ul class="nav nav-tabs" id="markdownx-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="editor-tab" data-bs-toggle="tab" data-bs-target="#editor-pane" role="tab" type="button" aria-controls="editor-pane" aria-selected="true">Editor</a>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="preview-tab" data-bs-toggle="tab" data-bs-target="#preview-pane" role="tab" aria-controls="preview-pane" aria-selected="false">Preview</a>
        </li>
    </ul>
    <div class="tab-content px-0" id="markdownx-content">
        <div class="tab-pane fade show active" id="editor-pane" role="tabpanel" aria-labelledby="editor-tab">
            {% include 'django/forms/widgets/textarea.html' %}
        </div>
        <div class="tab-pane fade border rounded" id="preview-pane" role="tabpanel" aria-labelledby="preview-tab">
            <div class="markdownx-preview p-3">
                <!-- Preview content will be rendered here -->
            </div>
        </div>
    </div>
</div>
